@model AcidCode.Web.Models.RegisterUserViewModel

@{
                /**/

                ViewBag.Title = "RegisterView";
                Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header text-center">
            <h1>Register as new user</h1>
        </div>
    </div>
</div>

@using (Html.BeginForm(new { role = "form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    <div class="form-group row">
        @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.UserName, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        <div class="col-sm-10">
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>

    </div>
}